*{
    box-sizing: border-box;
 }
 html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 400px;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
    background: #fff;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav li a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    padding-right: 20px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .container {
    display: flex;
    justify-content: center;
}
main p {
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 28px;
    font-size: small;
}
footer {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    color: rgba(0,0,0,.54);
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    flex-wrap: wrap;
}
footer .location {
    padding: 15px 45px;
    border-bottom: 1px solid #dadce0;
}
footer .about {
    justify-content: space-between;
}
footer li {
    padding: 0 15px;
}
footer li a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
a:hover {
    text-decoration: underline;
}